h1 {
    text-align: center;
  }
  table {
      text-align: center;
  }
  td {
    width: 200px;
    height: 200px;
    font-size: 100pt;
  }
  table {
    margin: 5px auto;
  }
  .vert {
    border-left: 10px solid black;
    border-right: 10px solid black;
  }
  .hori {
    border-top: 10px solid black;
    border-bottom: 10px solid black;
  }

  #thebutton {
    text-align: center;
  }

  /* #root {
    background-image: url('../background.png');
  } */

  #alsobutton {
    background-color: black;
    color: white;
    width: 25%;
  }

  #container {
    display: table-cell;
    vertical-align: middle;
  }

  #root {
      /* background-color: rgb(104, 104, 109); */
      width:700px;
      height:825px;
      position:fixed;
      margin-left: -350px; /* half of width */
      margin-top:-412px; /* half of height */
      top:50%;
      left:50%;
  }
  